@model SportsStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Sports Store: Order Submitted";
}

<h2>Thank you</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.
<p>Thanks for placing your order. We'll ship your goods as soon as possible.</p>

